// $themes: (
//  light: (
//    text: #201320,
//    background: #f7f3f7,
//    primary: #533455,
//    secondary: #c096a1,
//    accent: #824f51,
//  ),
//  dark: (
//    text: #ecdfec,
//    background: #0c080c,
//    primary: #c8aacb,
//    secondary: #693f4a,
//    accent: #b07d7f,
//  ),
// );


:root {
    --text: #f3f3f3;
    --background: #1e2124;
    --background2: #282b30;

    --primary: #656ccf;
    --secondary: #693f4a;
    --accent: #b07d7f;
}

body {
    background-color: var(--background);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text);

    transition: all 0.25s ease-in-out;
}
